.about-list-title{
    width: 9rem;
    font-weight: 600;
    text-align: left;
    color: #9CA3AF;
}

.about-list-badge{
    font-weight: 600;
    color: black;
    text-transform: capitalize;
    padding: .25rem .5rem;;
    border-radius: 8px;
    background-color: #E5E7EB;
    display: flex;
    align-items: center;
    gap: 8px;
    span{
        font-weight: 400;
        text-transform: initial;
        background-color: transparent;
    }
}

.stat-item{
    flex-grow: 1;
    display:flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 45px;
    position: relative;
    span{
        position: absolute;
        flex-shrink: 0;
        left: 0px;
        display: block;
        color: black;
        font-weight: bold;
        width: 40px;
    }

    div{ 
        flex-grow: 1;
        height: 4px;
        min-height: 4px;
        border-radius: 4px;
        position: relative;
        overflow-x: hidden;
        div{
            position: absolute;
            transform: translateX(-100%);
            top:0px;
            height: 100%;
            z-index: 10;
        }
    }
}