.about-list-title{
    width: 9rem;
    font-weight: 600;
    text-align: left;
    color: #9CA3AF;
}

.about-list-badge{
    font-weight: 600;
    color: black;
    padding: .25rem .5rem;;
    border-radius: 8px;
    background-color: #E5E7EB;
}